body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #030122;
    text-shadow:rgb(27, 7, 67) 2px 2px;    
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color:#2a4469;
    color: #fff;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#payment-details {
    margin-top: 20px;
}

#payment-details p {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    width: 89px;
    background-color: #768191;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: #051b3b 2px 2px;
}
button:hover {
    background-color: #000000;
}